beautifulsoup4
bm25s
faiss-cpu
fastapi
huggingface_hub
latex2mathml
lxml
numpy
opensearchpy
pandas
peft
pyarrow
pydantic
python-dotenv
PyYAML
pytrec_eval
ranx
requests
sentence-transformers
streamlit
torch
torch_geometric
tqdm
transformers
uvicorn